@charset "utf-8";
/* CSS Document */

/* Bread Crum  (migas de pan)*/
.breadcrumb {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
    font-weight: bolder;
}
a:link {
    color: white;
}
a:hover {
    color: yellow;
}
a:visited {
    color: greenyellow;
}
table.breadcrumb {
    border: 1px solid whitesmoke;
}