@charset "utf-8";
/* CSS Document */

body {
	background-image: url(fondos/fondoSerio.jpg);
        padding: 0 2em;
        font-family: Montserrat, sans-serif;
}
h1 {    font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	color: #fff;
	border: dotted;
	border-color: white;
	background-image: url(fondos/fondoRelleno1.jpg);
	background-repeat: repeat-x;
}
h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #F60;
}
h3 {
	font-family: "MS Serif", "New York", serif;
	color: #69F;
	text-align: center;
        font-size: xx-large;
        font-weight: bolder;
}
p.producto {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	color: green;
	font-size: larger;
}
p.descripcion {
	font-family: "Comic Sans MS", cursive;
	color: yellow;
	text-align: justify;
	font-size: smaller;
}
p.precio {
	font-family: "Courier New", Courier, monospace;
	color: white;
	text-align: center;
	font-weight: bolder;
	background-image: url(fondos/fondoRelleno3.jpg);
	background-repeat: repeat-x;
}
p.ref {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
	font-weight: bolder;
}
p.c {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bolder;
}
.azul {
	color: blue;
        text-align: center;
	font-weight: bold;
}
.rojo {
	color: red;
	font-weight: lighter;
        text-decoration: none;
}
.rojo2 {
	color: red;
        text-align: center;
	font-weight: bold;
}
.centrar {
	text-align: center;
}

